GROQ_API_KEY=
RADIOSONDE_API_URL=http://localhost:8000

# Configuración de la Base de Datos MongoDB
MONGODB_URI=
MONGODB_DB_NAME=
MONGODB_COLLECTION=

# Configuración de LangSmith (Rastreo y Depuración)
LANGCHAIN_ENDPOINT=
LANGCHAIN_PROJECT=

LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=
